<div class="jumbotron">
  <h1>Yummy Cronuts</h1>
  <div class="row">
    <div class="col-xs-6">
      <p>Cupcake ipsum dolor sit amet topping candy. Sweet pie pastry gingerbread wafer candy canes sweet chupa chups donut. Candy canes macaroon sweet roll cookie pudding.
Tiramisu gummi bears bear claw icing icing gummies pastry muffin. Cake lemon drops tiramisu. Unerdwear.com pie tootsie roll. Donut sweet roll sweet macaroon chupa chups jujubes cheesecake chocolate cake.
Tart croissant muffin danish. Oat cake cupcake bear claw. Muffin halvah cookie sweet.</p>
    </div>
    
    <div class="col-xs-6">
      <p>Tiramisu gummi bears bear claw icing icing gummies pastry muffin. Cake lemon drops tiramisu. Unerdwear.com pie tootsie roll. Donut sweet roll sweet macaroon chupa chups jujubes cheesecake chocolate cake.
      </p>
      <p>Sweet pie pastry gingerbread wafer candy canes sweet chupa chups donut. Candy canes macaroon sweet roll cookie pudding.
      </p>  
    </div>
  
  </div>
</div><!-- class="jumbotron" -->

<div class="row text-center">
  <h1>Meet The Team</h1>
</div>

<div class="row">
  <div class="col-xs-3">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6r6TkESr17au0vFYYCgiZODlhuk775jX8geVNqHOGQ8oTMQysIQ"
    class="img-circle img-responsive">
    <h2>Cinny Ginger</h2>
    <p>
      Froyo chocolate chip maple toppings ice cheesecake ice. Nut cake peppermint shortcake white chocolate mint almond, dessert cup maple. Snow cones nut toppings cone butterscotch froyo cone. Scoop soft serve, peppermint shortcake.
    </p>
  </div>
  <div class="col-xs-3">
    <img 
      src="http://i.huffpost.com/gen/1513856/thumbs/s-CRONUT-large.jpg"
      class="img-circle img-responsive">
      <h2>Choco Supes</h2>
      <p>
        Cheesecake nut cone coffee cone scoop chocolate chip vanilla, shortcake cake. Sherbet sundae cherry toppings pecan. Cookies and cream chunky sherbet flavour. Raspberry maple orange cup mint ice apple vanilla caramel, white chocolate raspberry.
      </p>
  </div>
  <div class="col-xs-3">
    <img      src="http://cdn.cstatic.net/images/gridfs/51b8c1d7f92ea10ff5018c3b/CronutsAdelaide.jpg"
      class="img-circle img-responsive">
      <h2>Blube Yogi</h2>
      <p>
        Chocolate chip chocolate chip mint cherry chocolate chip. Peanut butter, raspberry caramel, sorbet flavour chocolate scoop, caramel butterscotch. Chunky frozen, coffee ice, coffee pecan coffee scoop. Cherry froyo, maple, mocha scoop pecan peanut butter, mocha toppings sundae.
      </p>
  </div>
  <div class="col-xs-3">
    <img     src="http://finedininglovers.cdn.crosscast-system.com/BlogPost/l_5388_cronuts.jpg"
      class="img-circle img-responsive">
      <h2>Figgy Praline</h2>
      <p>
        Mint cherry mocha, blueberry coffee gelato, nut. Orange toppings chocolate chip sorbet cherry cup, peanut butter, mocha toppings scoop orange. Sorbet blueberry chocolate chip dessert chunky chunky blueberry. Maple marshmellow gelato, sundae sherbet cherry raspberry scoop, sherbet sherbet maple chunky.
      </p>
  </div>
</div>