<h1>Contact Us</h1>

<div class="row">
  <div class="col-xs-6" id="contact-form">
    <div id="alert" role="alert" class="alert"></div>
    <form role="form">
      <div id="user-name-div" class="form-group">
        <label for="user_name">Name</label>
        <input 
          type="text"
          class="form-control"
          id="user_name">
      </div>
      <div id="user-message-div" class="form-group">
        <label for="user_message">Mesage</label>
        <input 
          type="text"
          class="form-control"
          id="user_message">
      </div>
      
      <input 
        type="button"
        id="submit-contact"
        class="btn btn-primary"
        value="Submit">
    </form>
  </div>
  

  <div class="col-xs-6">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Employee Name</th>
          <th>Phone Number</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Jessie</td>
          <td>555-555-5555</td>
        </tr>
        <tr>
          <td>Anna</td>
          <td>666-666-6666</td>
        </tr>
        <tr>
          <td>Jessie</td>
          <td>555-555-5555</td>
        </tr>
        <tr>
          <td>Anna</td>
          <td>666-666-6666</td>
        </tr>
        <tr>
          <td>Jessie</td>
          <td>555-555-5555</td>
        </tr>
        <tr>
          <td>Anna</td>
          <td>666-666-6666</td>
        </tr>
      </tbody>
    </table>
  </div>
  
</div><!-- class="row" -->
  
<script>
$(function(){
  $('#nav-contact').addClass("active");
});
</script>