<div id="cronut-carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#cronut-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#cronut-carousel" data-slide-to="1"></li>
    <li data-target="#cronut-carousel" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag("peach.jpg", height: '300', width: '100%', alt: "Peach") %>
    </div>
    <div class="item">
      <%= image_tag("vanilla.jpg", height: '300', width: '100%', alt: "Vanilla") %>
    </div>
    <div class="item">
      <%= image_tag("chocolate.jpg", height: '300', width: '100%', alt: "Chocolate") %>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#cronut-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#cronut-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<div class="row">
  <div class="col-xs-2 scroll-nav affix">
    <ul class="nav" role="tablist">
      <li><a href="#peach">Peach</a></li>
      <li><a href="#vanilla">Vanilla</a></li>
      <li><a href="#chocolate">Chocolate</a></li>
    </ul>
  </div>
  <div class="col-xs-7 col-xs-offset-2">
    <h2 id="peach">Peach</h2>
    <p>Oat cake gingerbread halvah candy canes I love cotton candy lemon drops. Topping I love dessert. Toffee liquorice sweet danish sugar plum I love fruitcake. Soufflé candy. Cupcake ipsum dolor sit amet candy gummies I love ice cream. Cupcake biscuit cotton candy donut cupcake. Brownie gummies cheesecake cake. Wafer carrot cake topping topping pastry chocolate cake. Lemon drops lemon drops gingerbread carrot cake applicake powder cotton candy cake jelly-o. Marshmallow oat cake fruitcake soufflé cotton candy sweet halvah. Liquorice pie I love cotton candy bonbon. Chocolate cake pudding sweet roll jelly beans wafer.
Fruitcake sweet roll I love bonbon dessert icing. Toffee chocolate lemon drops cookie. Marshmallow applicake applicake pie bear claw jelly beans wafer marshmallow. Gingerbread chupa chups halvah pie. Danish bear claw cotton candy topping. Gummies chupa chups sweet roll I love jelly-o chupa chups lemon drops I love tootsie roll. Brownie croissant candy canes I love cupcake.
Sugar plum tiramisu unerdwear.com apple pie croissant jujubes cake. Halvah marshmallow wafer cake marzipan pudding brownie croissant. Jelly-o cheesecake chupa chups. Dragée dessert brownie powder chocolate brownie. Muffin I love pudding chocolate cake jelly beans chocolate I love halvah dragée. Candy canes chocolate bar cupcake. Tiramisu I love I love oat cake unerdwear.com wafer jujubes croissant. Chupa chups dessert gingerbread candy cookie sugar plum tart lollipop. Donut topping croissant chocolate cake.
      <span 
        class="tool-tip" 
        data-toggle="tooltip"
        data-placement="top"
        title="muffin">canes bonbon muffin</span> pudding gummies. Cotton candy donut oat cake. I love liquorice marzipan jelly beans. I love I love I love wafer danish I love macaroon pudding. Unerdwear.com chocolate cake pudding. Bonbon tiramisu marzipan lemon drops chocolate bar tart sweet roll. I love brownie icing cookie
      <span 
        class="tool-tip"
        data-toggle="tooltip"
        data-placement="top"
        title="ginger">gingerbread</span> candy canes halvah jelly beans.
    </p>
    
    <h2 id="vanilla">Vanilla</h2>
    <p>Carrot cake soufflé cookie donut pudding. Wafer I love caramels. Dragée soufflé ice cream topping chocolate bar I love dragée. I love biscuit soufflé tart liquorice brownie caramels. Donut cotton candy tart. Cupcake cake sugar plum topping marshmallow cake cotton candy. Ice cream chocolate I love chocolate wafer. Fruitcake sweet roll I love bonbon dessert icing. Toffee chocolate lemon drops cookie. Marshmallow applicake applicake pie bear claw jelly beans wafer marshmallow. Gingerbread chupa chups halvah pie. Danish bear claw cotton candy topping. Gummies chupa chups sweet roll I love jelly-o chupa chups lemon drops I love tootsie roll. Brownie croissant candy canes I love cupcake.
Sugar plum tiramisu unerdwear.com apple pie croissant jujubes cake. Halvah marshmallow wafer cake marzipan pudding brownie croissant. Jelly-o cheesecake chupa chups. Dragée dessert brownie powder chocolate brownie. Muffin I love pudding chocolate cake jelly beans chocolate I love halvah dragée. Candy canes chocolate bar cupcake. Tiramisu I love I love oat cake unerdwear.com wafer jujubes croissant. Chupa chups dessert gingerbread candy cookie sugar plum tart lollipop. Donut topping croissant chocolate cake.
Dessert cookie sweet roll cotton candy powder. Gingerbread jelly-o soufflé toffee. Tiramisu macaroon I love cookie dragée bear claw candy bonbon. Bear claw toffee danish sweet roll. Cotton candy chocolate cake apple pie. Cake cookie dragée wafer.Carrot cake soufflé cookie donut pudding. Wafer I love caramels. Dragée soufflé ice cream topping chocolate bar I love dragée. I love biscuit soufflé tart liquorice brownie caramels. Donut cotton candy tart. Cupcake cake sugar plum topping marshmallow cake cotton candy. Ice cream chocolate I love chocolate wafer. Fruitcake sweet roll I love bonbon dessert icing. Toffee chocolate lemon drops cookie. Marshmallow applicake applicake pie bear claw jelly beans wafer marshmallow. Gingerbread chupa chups halvah pie. Danish bear claw cotton candy topping. Gummies chupa chups sweet roll I love jelly-o chupa chups lemon drops I love tootsie roll. Brownie croissant candy canes I love cupcake.
Sugar plum tiramisu unerdwear.com apple pie croissant jujubes cake. Halvah marshmallow wafer cake marzipan pudding brownie croissant. Jelly-o cheesecake chupa chups. Dragée dessert brownie powder chocolate brownie. Muffin I love pudding chocolate cake jelly beans chocolate I love halvah dragée. Candy canes chocolate bar cupcake. Tiramisu I love I love oat cake unerdwear.com wafer jujubes croissant. Chupa chups dessert gingerbread candy cookie sugar plum tart lollipop. Donut topping croissant chocolate cake.
Dessert cookie sweet roll cotton candy powder. Gingerbread jelly-o soufflé toffee. Tiramisu macaroon I love cookie dragée bear claw candy bonbon. Bear claw toffee danish sweet roll. Cotton candy chocolate cake apple pie. Cake cookie dragée wafer.

      <span 
        class="tool-tip"
        data-toggle="tooltip"
        data-placement="top"
        title="snaps">soufflé sesame snaps</span> tart unerdwear.com. Donut sweet cupcake cake. Liquorice powder jelly cookie jelly.
    </p>
    <h2 id="chocolate">Chocolate</h2>
    <p>Tiramisu gingerbread cotton candy apple pie macaroon. Carrot cake fruitcake gummi bears. Fruitcake lemon drops pudding. Sesame snaps oat cake donut. Carrot cake gingerbread I love bear claw jujubes dessert. Topping soufflé lemon drops brownie halvah. Jelly-o chocolate bar soufflé candy bear claw chupa chups sweet. 
      <span 
        class="tool-tip"
        data-toggle="tooltip"
        data-placement="top"
        title="Chupa!">Chupa chups</span> brownie brownie toffee. Candy canes soufflé cake. Marzipan cupcake toffee dessert tiramisu muffin jelly beans oat cake lollipop. Sugar plum tiramisu unerdwear.com apple pie croissant jujubes cake. Halvah marshmallow wafer cake marzipan pudding brownie croissant. Jelly-o cheesecake chupa chups. Dragée dessert brownie powder chocolate brownie. Muffin I love pudding chocolate cake jelly beans chocolate I love halvah dragée. Candy canes chocolate bar cupcake. Tiramisu I love I love oat cake unerdwear.com wafer jujubes croissant. Chupa chups dessert gingerbread candy cookie sugar plum tart lollipop. Donut topping croissant chocolate cake.
Dessert cookie sweet roll cotton candy powder. Gingerbread jelly-o soufflé toffee. Tiramisu macaroon I love cookie dragée bear claw candy bonbon. Bear claw toffee danish sweet roll. Cotton candy chocolate cake apple pie. Cake cookie dragée wafer.
Sweet topping I love I love. Tiramisu jujubes bonbon. Halvah dragée I love lollipop oat cake marshmallow croissant. Oat cake macaroon cookie cotton candy cookie pudding biscuit bonbon jelly beans. Gummies cheesecake unerdwear.com. Gingerbread halvah dessert biscuit. Sesame snaps biscuit croissant toffee liquorice lollipop. Sugar plum tiramisu unerdwear.com apple pie croissant jujubes cake. Halvah marshmallow wafer cake marzipan pudding brownie croissant. Jelly-o cheesecake chupa chups. Dragée dessert brownie powder chocolate brownie. Muffin I love pudding chocolate cake jelly beans chocolate I love halvah dragée. Candy canes chocolate bar cupcake. Tiramisu I love I love oat cake unerdwear.com wafer jujubes croissant. Chupa chups dessert gingerbread candy cookie sugar plum tart lollipop. Donut topping croissant chocolate cake.
Dessert cookie sweet roll cotton candy powder. Gingerbread jelly-o soufflé toffee. Tiramisu macaroon I love cookie dragée bear claw candy bonbon. Bear claw toffee danish sweet roll. Cotton candy chocolate cake apple pie. Cake cookie dragée wafer.

    </p>
  </div>
</div>
